html {
    background-color: azure;
}
header {
    background-color: papayawhip;
    align-content: center;
    padding-left: 10px;
    padding-top: 10px;
}
#principal{
    margin: -10px;
}
#mostraura {
    padding: auto;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
#manta {
    margin-left: 30px;
    margin-right: 10px;
    padding: 20px;
    float: left;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}